body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2174px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:453px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:46px;
  width:289px;
  height:453px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:218px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:440px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:54px;
  width:248px;
  height:440px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:212px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:2px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:493px;
  width:248px;
  height:1px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:432px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:54px;
  width:259px;
  height:432px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:208px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:376px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:110px;
  width:259px;
  height:376px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:180px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:383px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:111px;
  width:259px;
  height:383px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:184px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:67px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:137px;
  width:108px;
  height:67px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:440px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:1168px;
  top:54px;
  width:266px;
  height:440px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:212px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:384px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:1168px;
  top:110px;
  width:266px;
  height:384px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:184px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:384px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:1168px;
  top:110px;
  width:266px;
  height:384px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:184px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:440px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:1529px;
  top:59px;
  width:273px;
  height:440px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:212px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:414px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:1529px;
  top:85px;
  width:273px;
  height:414px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:199px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:430px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:1529px;
  top:85px;
  width:273px;
  height:430px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:207px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_ann {
  border-width:0px;
  position:absolute;
  left:1795px;
  top:81px;
  width:1px;
  height:1px;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:440px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:1901px;
  top:54px;
  width:273px;
  height:440px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:212px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:414px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:1901px;
  top:80px;
  width:273px;
  height:414px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:199px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:435px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:1901px;
  top:80px;
  width:273px;
  height:435px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:210px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:11px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:1601px;
  top:259px;
  width:131px;
  height:67px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:11px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:1972px;
  top:264px;
  width:131px;
  height:67px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:361px;
  width:56px;
  height:95px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u40 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:433px;
  width:0px;
  height:0px;
}
#u40_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:14px;
  height:8px;
}
#u40_seg1 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-4px;
  width:8px;
  height:125px;
}
#u40_seg2 {
  border-width:0px;
  position:absolute;
  left:-119px;
  top:113px;
  width:133px;
  height:8px;
}
#u40_seg3 {
  border-width:0px;
  position:absolute;
  left:-119px;
  top:113px;
  width:8px;
  height:22px;
}
#u40_seg4 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u40_seg5 {
  border-width:0px;
  position:absolute;
  left:-125px;
  top:122px;
  width:20px;
  height:20px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:109px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:807px;
  width:148px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u43 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:433px;
  width:38px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u44 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:454px;
  width:0px;
  height:0px;
}
#u44_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:326px;
  height:8px;
}
#u44_seg1 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:-160px;
  width:8px;
  height:164px;
}
#u44_seg2 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:-160px;
  width:23px;
  height:8px;
}
#u44_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u44_seg4 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:-166px;
  width:20px;
  height:20px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:194px;
  width:0px;
  height:0px;
}
#u46_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:84px;
}
#u46_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:76px;
  width:151px;
  height:8px;
}
#u46_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u46_seg3 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:70px;
  width:20px;
  height:20px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:72px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:1168px;
  top:193px;
  width:103px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u49 {
  border-width:0px;
  position:absolute;
  left:1213px;
  top:208px;
  width:0px;
  height:0px;
}
#u49_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-8px;
  width:8px;
  height:8px;
}
#u49_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-8px;
  width:317px;
  height:8px;
}
#u49_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u49_seg3 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:-14px;
  width:20px;
  height:20px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:-12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:1561px;
  top:459px;
  width:102px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u52 {
  border-width:0px;
  position:absolute;
  left:1611px;
  top:464px;
  width:0px;
  height:0px;
}
#u52_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-128px;
  width:8px;
  height:128px;
}
#u52_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-128px;
  width:64px;
  height:8px;
}
#u52_seg2 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-138px;
  width:8px;
  height:18px;
}
#u52_seg3 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u52_seg4 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-145px;
  width:20px;
  height:20px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-105px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:1936px;
  top:459px;
  width:102px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u55 {
  border-width:0px;
  position:absolute;
  left:1986px;
  top:464px;
  width:0px;
  height:0px;
}
#u55_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-118px;
  width:8px;
  height:118px;
}
#u55_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-118px;
  width:60px;
  height:8px;
}
#u55_seg2 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-133px;
  width:8px;
  height:23px;
}
#u55_seg3 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u55_seg4 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-140px;
  width:20px;
  height:20px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-100px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:549px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:598px;
  width:306px;
  height:549px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:266px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:111px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:735px;
  width:99px;
  height:111px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:826px;
  width:0px;
  height:0px;
}
#u61_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:5px;
  height:8px;
}
#u61_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-273px;
  width:8px;
  height:277px;
}
#u61_seg2 {
  border-width:0px;
  position:absolute;
  left:-151px;
  top:-273px;
  width:156px;
  height:8px;
}
#u61_seg3 {
  border-width:0px;
  position:absolute;
  left:-151px;
  top:-332px;
  width:8px;
  height:68px;
}
#u61_seg4 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u61_seg5 {
  border-width:0px;
  position:absolute;
  left:-157px;
  top:-339px;
  width:20px;
  height:20px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-248px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:549px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:598px;
  width:319px;
  height:549px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:266px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:521px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:626px;
  width:322px;
  height:521px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:252px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:1037px;
  width:0px;
  height:0px;
}
#u67_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:185px;
  height:8px;
}
#u67_seg1 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:-154px;
  width:8px;
  height:158px;
}
#u67_seg2 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:-154px;
  width:21px;
  height:8px;
}
#u67_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u67_seg4 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:-160px;
  width:20px;
  height:20px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:582px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:1952px;
  width:329px;
  height:582px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:283px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:1896px;
  width:79px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:27px;
  background:inherit;
  background-color:rgba(59, 149, 245, 1);
  border:none;
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:2475px;
  width:83px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:47px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:2438px;
  width:22px;
  height:37px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:582px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:1952px;
  width:339px;
  height:582px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:283px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:1896px;
  width:107px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:47px;
  background:inherit;
  background-color:rgba(125, 126, 128, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:2270px;
  width:86px;
  height:47px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:44px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:2270px;
  width:70px;
  height:44px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:47px;
  background:inherit;
  background-color:rgba(125, 126, 128, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:2270px;
  width:86px;
  height:47px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:44px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:2270px;
  width:70px;
  height:44px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:47px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:2263px;
  width:22px;
  height:37px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:47px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:2263px;
  width:22px;
  height:37px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:248px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:1264px;
  width:326px;
  height:248px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:116px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:1324px;
  width:245px;
  height:28px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:540px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:1031px;
  top:1264px;
  width:310px;
  height:540px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:262px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  background:inherit;
  background-color:rgba(245, 249, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:1340px;
  width:76px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:520px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:568px;
  width:300px;
  height:520px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:252px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:828px;
  width:0px;
  height:0px;
}
#u107_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:169px;
  height:8px;
}
#u107_seg1 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:-4px;
  width:8px;
  height:53px;
}
#u107_seg2 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:41px;
  width:15px;
  height:8px;
}
#u107_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u107_seg4 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:35px;
  width:20px;
  height:20px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(57, 150, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:1272px;
  width:81px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:1039px;
  width:0px;
  height:0px;
}
#u111_seg0 {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:-4px;
  width:33px;
  height:8px;
}
#u111_seg1 {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:-4px;
  width:8px;
  height:229px;
}
#u111_seg2 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u111_seg3 {
  border-width:0px;
  position:absolute;
  left:-39px;
  top:212px;
  width:20px;
  height:20px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:-79px;
  top:90px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:1388px;
  width:0px;
  height:0px;
}
#u113_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:184px;
  height:8px;
}
#u113_seg1 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:-4px;
  width:8px;
  height:154px;
}
#u113_seg2 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:142px;
  width:15px;
  height:8px;
}
#u113_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u113_seg4 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:136px;
  width:20px;
  height:20px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 150, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:615px;
  width:61px;
  height:28px;
  font-size:16px;
  color:#FFFFFF;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:30px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:81px;
  width:248px;
  height:30px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
  background:inherit;
  background-color:rgba(57, 150, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:85px;
  width:87px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(57, 150, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(57, 150, 245, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:111px;
  width:56px;
  height:20px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 150, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:83px;
  width:61px;
  height:28px;
  font-size:16px;
  color:#FFFFFF;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 150, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:76px;
  width:61px;
  height:28px;
  font-size:16px;
  color:#FFFFFF;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 150, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:1168px;
  top:76px;
  width:61px;
  height:28px;
  font-size:16px;
  color:#FFFFFF;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:28px;
  background:inherit;
  background-color:rgba(57, 150, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:1272px;
  width:94px;
  height:28px;
  font-size:16px;
  color:#FFFFFF;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
